<app-loading  *ngIf="loading"></app-loading>

<div *ngIf="!matchService.match.currentGame" class="section">
  <button class="mb-btn-secondary" (click)="newGame()">Start New Game</button>
</div>

<div class="section" *ngIf="matchService.match.currentGame">

  <button class="mb-btn-secondary" *ngIf="!matchService.match.currentGame.playerOneReady" [disabled]="!readyToStart()" (click)="startGame()">Start</button>

  <app-countdown (endGameTrigger)="endGame()" *ngIf="matchService.match.currentGame.status === 'in progress'" [from]="matchService.getGame().endOfGame"></app-countdown>

  <p class="static-message" *ngIf="matchService.match.currentGame.status === 'pending' && matchService.match.currentGame.playerOneReady">Waiting for your partner to start.</p>
  <p class="static-message" *ngIf="matchService.match.currentGame.status === 'pending' && !matchService.match.currentGame.playerOneReady">Your partner is waiting for you!</p>

  <div *ngIf="matchService.match.currentGame.status !== 'in progress' && !matchService.match.currentGame.playerOneReady" class="sub-header">
    <h4>Choose your missions!</h4>
    <p>
      Accept or Reject as many as you want! You will not replace the ones you reject,
      but you won't lose points for not completing them at the end of the week.
    </p>
  </div>
    <button class="mb-btn-secondary" *ngIf="!matchService.match.currentGame.playerOneReady" (click)="acceptAll()">Accept all missions!</button>

  <h4 class="title" *ngIf="matchService.getGame().status === 'in progress' || matchService.match.currentGame.playerOneReady">Your Missions:</h4>
  <app-mission-card *ngFor="let card of matchService.match.currentGame.playerOneHand; let i = index" [card]="card" [buttonPhase]="matchService.match.currentGame.playerOneReady ? matchService.getGame().status === 'in progress' ? 'play' : 'waiting-opponent' : 'pending'" (cardStatusUpdated)="updateMissionStatus($event, i)"></app-mission-card>

  <div *ngIf="matchService.match.currentGame.status !== 'in progress' && !matchService.match.currentGame.playerOneReady" class="sub-header">
    <h4>Choose your rewards!</h4>
    <p>You can only pick one of these, so choose carefully!</p>
  </div>
  <h4 class="title" *ngIf="matchService.getGame().status === 'in progress' || matchService.match.currentGame.playerOneReady">What you're playing for:</h4>
  <app-reward-card *ngFor="let reward of matchService.match.currentGame.playerOneRewards; let i = index" [reward]="reward" [buttonPhase]="matchService.match.currentGame.playerOneReady ? 'waiting-opponent' : 'pending'" (rewardStatusUpdated)="updateRewardStatus(i)"></app-reward-card>

  <button class="mb-btn-secondary" *ngIf="!matchService.match.currentGame.playerOneReady" [disabled]="!readyToStart()" (click)="startGame()">Start</button>

</div>
