  <div class="page-header">
    <div (click)="showDeck = !showDeck" class="deck-title">
      <h2>Missions</h2>
      <fa-icon [icon]="chevronDown" *ngIf="!showDeck"></fa-icon><fa-icon [icon]="chevronUp" *ngIf="showDeck"></fa-icon>
    </div>

    <div *ngIf="showDeck" class="filters">
      <div class="search-field">
        <input placeholder="Type to filter" type="text" [(ngModel)]="filterText" (keyup)="filterDisplay()">
      </div>

      <div class="checkbox-container">
        <label class="checkbox-label">
            <input (change)="toggleShowRemoved()" type="checkbox">
            <span class="checkbox-custom rectangular"></span>
        </label>
        <div class="input-title">Show removed missions</div>
      </div>
    </div>
  </div>

  <div *ngIf="showDeck && deckDisplay && deckDisplay.length > 0" class="mb-list">
    <div class='mb-list-item' *ngFor="let mission of deckDisplay" (click)="missionSelected(mission)">
      {{mission.title}}
    </div>
  </div>
