<div class="section">
  <div *ngIf="loading"><h2>
    loading...
  </h2></div>
  <div *ngIf="!loading">
    <div class="page-header">
      <h2 *ngIf="win">You won!</h2>
      <h2 *ngIf="!win">You lost!</h2>
    </div>

  <app-end-game-summary [player]="matchService.getPlayer()" [points]="summary.playerOnePoints" [hand]="matchService.getGame().playerOneHand" [guesses]="summary.playerOneGuesses"></app-end-game-summary>

  <app-end-game-summary [player]="matchService.getOpponent()" [points]="summary.playerTwoPoints" [hand]="matchService.getGame().playerTwoHand" [guesses]="summary.playerTwoGuesses"></app-end-game-summary>

  <button class="mb-btn-secondary" (click)="startNewGame()">Start a new Round!</button></div>
</div>
