.container {
  border: solid black 1px;
  border-radius: 5px;
  padding: 5px;
}

.pending {
  background-color: yellow;
}

.rejected {
  background-color: red;
}

.accepted {
  background-color: greenyellow;
}
