@import "../../../variables.scss";

.summary-container {
  border-radius: 8px;
  margin: 12px;
  .summary-header {
    margin: 12px;
    margin-left: 24px;
  }
}

.win {
  border: solid darkgreen 2px;
  background: green;
}
.lose {
  border: solid $dark-red 2px;
  background: $red;
}
