<div>
  <h3>Review</h3>
  <p>Don’t skip this step! Review all the cards, both the missions and the strategies, by going to the deck icon on the navigation bar. Remove or edit cards that don't fit you or your lives. You can even add new rewards and missions you've come up with all on your own!</p>
  <p>You should know that when you make changes, your partner will have to approve! The same goes for your partner, so check your notifications to approve or reject removals and edits. Note that you can do this at any time, but changes you make won't affect the current round.</p>

  <h3>Start the game</h3>
  <p>Once you hit "Start a New Game" - you will be dealt 7 mission cards and 3 reward cards.
  Your missions have point values assigned to them - this is what you will earn if you manage to complete this mission.
  But do it in secret! if you manage to finish the mission, your partner has the opportunity to guess the card you have in your hand. If they're right, you will wind up with 0 points for that mission.
  Even worse, if you don't manage to accomplish that mission at all, you subtract this number from your total score at the end of the week.</p>

  <p>You'll also notice a brownie point at the bottom of each mission. These are all worth 1 additional bonus point. You won't lose any points for not completing these, and they don't factor into the negative points if you don't finish the mission at all, so it's all gravy.</p>

  <p>So now is your chance, before the game really starts, to read through all your missions and reject ones that you don't think you can pull off. You'll end up with less points in your hand, but lower your risk at getting negative points!</p>

  <p>Also read through the 3 reward cards. If you win this week's game, this is what your partner will have to provide as your reward. BUT, you can only choose one, so pick your favorite and hit "ready to start"</p>

  <h3>Playing the game</h3>
  <p>As you finish the missions, make sure you hit the "accomplished" button! Even if you accomplish a mission, it won't count on your final score if you forget to do this. After you finish a mission, the brownie point becomes available as well.</p>

  <p>If you get suspicious, click the Guess icon in the navigation bar. You can filter through the mission deck to find the card you think your partner has. If you guess correctly and catch them in the act, they won't gain points for that mission at all! You should know though, if you guess wrong, it's -1 points at the end of the game for you.</p>

  <p>After the week is up (or you both agree to end the game early), you'll be able to see the results! You can browse your partner's missions and agonize over the fact that they didn't warm your towel up because they loved you, but for the sweet sweet reward! Whether or not you've won, you can check out the rewards by clicking the reward icon in the navigation bar. This is also where you can accept delivery of the rewards your partner owes you, and see what rewards you still owe your partner!</p>

  <p>Now that you're in the end game, you can start a new round, and the whole thing starts over</p>

  <h3>Other things you can do</h3>
  <p>If you click the hamburger icon next to your current match (how you got this page, actually), you can find options to switch to another match against another player (or start a new match with someone!), update your account info, check your notifications (this is where you can approve or reject mission/reward updates). This is also where you can submit bugs or feature requests!</p>
</div>
