<h1>Marital Bliss</h1>

<h2> My Matches </h2>
<div *ngFor="let match of matches">
  <!-- This should be a link, not a button -->
  <button (click)="goToGame(match)">Your match against {{match.opponent.firstName}}</button>
  <!-- <button *ngIf="!match.currentGame" (click)="addNewGame(match.id)">Start a new game with {{match.opponent.firstName}}!</button> -->
</div>

<button class="btn-primary" (click)="openSearch()">Start a Match with another person</button>

<div class="userSearch" *ngIf="showUserSearch">
  <input (keyup)="search()" type="text" [(ngModel)]="searchTerms" />

  <div *ngFor="let player of allUsersDisplay">
    {{player.firstName}} {{player.lastName}} <button class="btn-primary" (click)="startMatch(player.email)">Start a Match!</button>
  </div>
</div>
