<div class = "account-container">
  <div *ngIf="!player"><h2>loading...</h2></div>
  <div *ngIf="player" class="account-details">
    <div class="field">
      <p *ngIf="!editFirstName">{{player.firstName}}</p> <button *ngIf="!editFirstName" class="mb-btn-primary" (click)="toggleEdit('firstName')"><fa-icon [icon]="pencil"></fa-icon></button>
      <div *ngIf="editFirstName" class="edit">
        <label>First Name</label>
        <input #firstNameInput [(ngModel)]="player.firstName" placeholder="First Name" type="text" autofocus>
        <div class="button-group"><button class="mb-btn-primary" (click)="saveEdit('firstName')"><fa-icon [icon]="check"></fa-icon></button><button class="mb-btn-secondary" (click)="toggleEdit('firstName')"><fa-icon [icon]="close"></fa-icon></button></div>
      </div>
    </div>

    <div class="field">
      <p *ngIf="!editLastName">{{player.lastName}}</p> <button *ngIf="!editLastName" class="mb-btn-primary" (click)="toggleEdit('lastName')"><fa-icon [icon]="pencil"></fa-icon></button>
      <div *ngIf="editLastName" class="edit">
        <label>Last Name</label>
        <input #lastNameInput autofocus [(ngModel)]="player.lastName" placeholder="Last Name" type="text">
        <div class="button-group"><button class="mb-btn-primary" (click)="saveEdit('lastName')"><fa-icon [icon]="check"></fa-icon></button><button class="mb-btn-secondary" (click)="toggleEdit('lastName')"><fa-icon [icon]="close"></fa-icon></button></div>
      </div>
    </div>

    <div class="field">
      <p *ngIf="!editEmail">{{player.email}}</p> <button *ngIf="!editEmail" class="mb-btn-primary" (click)="toggleEdit('email')"><fa-icon [icon]="pencil"></fa-icon></button>
      <div *ngIf="editEmail" class="edit">
        <label>Email</label>
        <input #emailInput autofocus [(ngModel)]="player.email" placeholder="Email" type="text">
        <div class="button-group"><button class="mb-btn-primary" (click)="saveEdit('email')"><fa-icon [icon]="check"></fa-icon></button><button class="mb-btn-secondary" (click)="toggleEdit('email')"><fa-icon [icon]="close"></fa-icon></button></div>
      </div>
  </div>
</div>
