
<div class="section">
  <div class="page-header">
    <h2>Choose a mission to guess</h2>
  </div>

  <div class="card-placeholder wrong" *ngIf="selectedMission && guessStatus && guessStatus === 'incorrect'">Sorry, {{matchService.getMatch().opponent.firstName}} does <span>not</span> have {{selectedMission.title}}!</div>
  <div class="card-placeholder wrong" *ngIf="selectedMission && guessStatus && guessStatus === 'correct'">You nailed it! {{matchService.getMatch().opponent.firstName}} <span>does</span> have {{selectedMission.title}}!</div>

  <div *ngIf="guessEnabled" class="filters"><div class="search-field">
  <input autofocus placeholder="Type to filter" type="text" [(ngModel)]="filterText" (keyup)="filter()">
  </div></div>

  <div class="sub-header" *ngIf="!guessEnabled">
    <h4>Wait!</h4>
    <p>You have to wait for the game to start in order to make your guesses!</p>
  </div>

  <div *ngIf="guessEnabled && deckDisplay && deckDisplay.length > 0" class="mb-list">
    <div class='mb-list-item' *ngFor="let mission of deckDisplay" (click)="missionSelected(mission)">
      {{mission.title}}
    </div>
  </div>

</div>
